<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="app.js"></script>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
<title>Transformed View</title>
<div class="topnav" id="myTopnav">



  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('scene')}}">Scene View</a>
  <a href="{{url_for('transformed')}}" class="active">Transformed View</a>
  <a href="{{url_for('livcanv')}}">Living Canvas</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">

    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="row">
{%for camera_id in range(0, camera_ids)%}
  <div class="column">
      <h1></h1>
      <img id="painting_{{camera_id}}".format() src="{{ url_for('static',filename='/image.png') }}" alt="Scene View" width="400px" height="300px">
      <canvas id='painting_canvas_{{camera_id}}' ></canvas>

  </div>
  <div class="column">
    <h4 id = "ID"> ID: {{camera_id}} </h4>
    <h4 id = "mapped_x_{{camera_id}}"></h4>
    <h4 id = "mapped_y_{{camera_id}}"></h4>
  </div>
</div>
<script>

var eventSource = new EventSource("{{ url_for('mapped_gaze_feed', id='{}'.format(camera_id)) }}")

eventSource.addEventListener("mapped_gaze", function(e) {

    data = JSON.parse(e.data)

    document.querySelector("#mapped_x_{{camera_id}}").innerText = "mapped X: " + data.x
    document.querySelector("#mapped_y_{{camera_id}}").innerText = "mapped Y: " + data.y

    var img = document.getElementById("painting_{{camera_id}}");
    var cnvs = document.getElementById("painting_canvas_{{camera_id}}");

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.style.width = img.offsetWidth + "px";
    cnvs.style.height = img.offsetHeight + "px";

    var ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);
    ctx.beginPath();

    let x = (data.x /400) * 300
    let y = (data.y /300) * 150
    ctx.arc(x, y, 20, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#00ff00';
    ctx.stroke();   }, true);
    
</script>
{%endfor%}

</body>
</html>
