{% extends 'base.html' %}

{% block app_context %}
    <div class="row">
        <div class="col-md-12">
            <h1> {{ title }} </h1>
        </div>
    </div>
    <hr>

    <style>
        img {
            max-width: 250px;
            height: auto;
        }
    </style>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Bio</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for board in boards %}
                         <tr>
                            <td>{{ board.id }}</td>
                            <td>{{ board.name }}</td>
                            <td>{{ board.bio }}</td>
                            <td><img src="../{{ board.image_path }}" alt="image of {{ board.name }}"></td>
                            <td>
                                <a href="{{ url_for("transformed", board_id='{}'.format(board.id)) }}">View Simple</a> <br>
                                <a href="{{ url_for("torch", board_id='{}'.format(board.id))}}">View Torchlight</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}