<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<style>

</style>
</head>

<body>
<title>Living Canvas</title>
<div class="topnav" id="myTopnav">
  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('scene')}}">Scene View</a>
  <a href="{{url_for('transformed')}}">Transformed View</a>
  <a href="{{url_for('livcanv')}}"  class="active">Living Canvas</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<div class="row">
  
    <div class="column">
        <h1></h1>
        <img id="painting".format() src="{{ url_for('static',filename='/image.png') }}" alt="Scene View" width="800px" height="600px">
        <canvas id='painting_canvas' ></canvas>

        
  <script>

  
  var img = document.getElementById("painting");
  var cnvs = document.getElementById("painting_canvas");

  cnvs.style.position = "absolute";
  cnvs.style.left = img.offsetLeft + "px";
  cnvs.style.top = img.offsetTop + "px";
  cnvs.style.width = img.offsetWidth + "px";
  cnvs.style.height = img.offsetHeight + "px";
  
  var num_of_camerascl = '{{ camera_ids }}';

  var eventSource = new EventSource("{{ url_for('mapped_gaze_feed', id='{}'.format(camera_id)) }}")
  
  eventSource.addEventListener("mapped_gaze", function(e) {
  
      data = JSON.parse(e.data)

      var ctx = cnvs.getContext("2d");
      ctx.clearRect(0, 0, cnvs.width, cnvs.height);
      ctx.beginPath();
  
      let x = (data.x /400) * 300
      let y = (data.y /300) * 150
      ctx.arc(x, y, 20, 0, 2 * Math.PI, false);
      ctx.lineWidth = 3;
      ctx.strokeStyle = '#00ff00';
      ctx.stroke();   }, true);
  </script>
  

</body>
</html>
