<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
<title>Scene View</title>
<div class="topnav" id="myTopnav">


  <a href="{{url_for('index')}}">Home</a>
  <a href="{{url_for('scene')}}" class="active">Scene View</a>
  <a href="{{url_for('transformed')}}">Transformed View</a>
  <a href="{{url_for('livcanv')}}">Living Canvas</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
  <i class="fa fa-bars"></i>
  </a>


</div>


<div class="row">


  {%for camera_id in range(0, camera_ids)%}
  <div class="column">
    <!-- <a target="_blank" href="{{ url_for('video_feed', id='{}'.format(camera_id)) }}"> -->
      <img src="{{ url_for('video_feed', id='{}'.format(camera_id) ) }}" alt="Scene View" width="300px">
    <!-- </a> -->
  </div>

  <div class="column">
    <h4 id = "ID"> ID: {{camera_id}} </h4>
    <h4 id = "phone_name_{{camera_id}}"></h4>
    <h4 id = "battery_level_{{camera_id}}"></h4>
  </div>

  <script>
    var eventSource = new EventSource("{{ url_for('devices_info_feed', id='{}'.format(camera_id)) }}")
    eventSource.addEventListener("device_info", function(e) {

      data = JSON.parse(e.data)
      console.log(data)
      document.querySelector("#phone_name_{{camera_id}}").innerText = "Name: " + data.phone_name
      document.querySelector("#battery_level_{{camera_id}}").innerText = "Battery: " + data.battery_level + "%"
    }, true)

  </script>
  {%endfor%}


</div>

</body>
</html>
