<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/demostyle.css') }}">
</head>


<body>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h2>Artworks</h2>
    <ul>
        <li><a href="{{ url_for('artworks.get_artworks')}}">View All</a></li>
        <li><a href="{{ url_for('artworks.add_artwork')}}">Add Artwork</a></li>
    </ul>
    <h2>Add</h2>
    <ul>
        <li><a href="participant.html" target="_blank">Participant</a></li>
        <li><a href="stimulus.html" target="_blank">Stimulus</a></li>
        <li><a href="experiment.html" target="_blank">Experiment</a></li>
    </ul>
    <h2>Effects</h2>
    <ul>
        <li><a href="{{ url_for("transformed", artwork_id='{}'.format(0)) }}" target="_blank">Simple Transformed</a></li>
        <li><a href="{{ url_for("torch_new" , artwork_id='{}'.format(0)) }}" target="_blank">Accumulative Torchlight Effect</a></li>
    </ul>
    <h2>Test</h2>
    <ul>
        <li><a href="{{ url_for("tag_test_feed", artwork_id='{}'.format(0)) }}" target="_blank">Tag Test</a></li>
    </ul>
    <a href="#">Dashboard</a>
    <a href="#">Help</a>
</div>


<div id="main">
    <div class="topnav">
        <button class="openbtn" onclick="openNav()">☰ Open</button>
        <hr class="line">
      </div>
  
  <!-- WORLD VIEW THUMBNAILS -->
  <div class="split left">
    {%for camera_id in range(0, camera_ids)%}
    <div class="container">
      <img src="{{ url_for('video_feed', id='{}'.format(camera_id) ) }}" alt="Scene View" class="image-world" width="30px" height="30px">
      <div class="overlay">
        <div class="text">
          <p id = "ID"> ID: {{camera_id}} </p>
          <p id = "phone_name_{{camera_id}}"></p>
          <p id = "battery_level_{{camera_id}}"></p>
        </div>
      </div>
    </div> 
    <script>
      var eventSource = new EventSource("{{ url_for('devices_info_feed', id='{}'.format(camera_id)) }}")
      eventSource.addEventListener("device_info", function(e) {
  
        data = JSON.parse(e.data)
        console.log(data)
        document.querySelector("#phone_name_{{camera_id}}").innerText = "Name: " + data.phone_name
        document.querySelector("#battery_level_{{camera_id}}").innerText = "Battery: " + data.battery_level + "%"
      }, true)
  
    </script>
  {%endfor%}
  </div>


  <!-- TRANSFORMED VIEW THUMBNAILS -->
  <!-- <div class="split right">

{#    {%for camera_id in range(0, camera_ids)%}#}

    <div class="container">
        <canvas id='painting_canvas_{{camera_id}}'></canvas>
        <img id="painting_{{camera_id}}".format() src="{{ url_for('static',filename='/image1.png') }}" alt="Transformed View" class="image-trans">
        <div class="overlay">
          <div class="text">
            <p id = "ID"> ID: {{camera_id}} </p>
            <p id = "mapped_x_{{camera_id}}"></p>
            <p id = "mapped_y_{{camera_id}}"></p>
          </div>
      </div>
    </div> -->

    <script>

      // var eventSource = new EventSource("{{ url_for('mapped_gaze_feed', camera_id='{}'.format(camera_id), artwork_id ='{}'.format(camera_id)) }}")

      // eventSource.addEventListener("mapped_gaze", function(e) {

      //     data = JSON.parse(e.data);

      //     document.querySelector("#mapped_x_{{camera_id}}").innerText = "transformed X: " + data.x;
      //     document.querySelector("#mapped_y_{{camera_id}}").innerText = "transformed Y: " + data.y;
      //     if (cnvs.img === img){
      //       parentElement.removeChild(cnvs);
      //     }
      //     var img = document.getElementById("painting_{{camera_id}}");
      //     var cnvs = document.getElementById("painting_canvas_{{camera_id}}");
      //     var cnvs = document.createElement("canvas");
      //     cnvs.id = "painting_canvas_{{camera_id}}";
      //     img.parentElement.appendChild(cnvs);

          // var imgRect = img.getBoundingClientRect();
          // cnvs.style.position = "absolute";
          // cnvs.style.left = img.offsetLeft + "px";
          // cnvs.style.top = img.offsetTop + "px";
          // cnvs.style.width = img.offsetWidth + "px";
          // cnvs.style.height = img.offsetHeight + "px";

          // var ctx = cnvs.getContext("2d");
          // ctx.clearRect(0, 0, cnvs.width, cnvs.height);
          // ctx.beginPath();

          // let x = (data.x /1200) * 424;
          // let y = (data.y /849) * 300;

          // 1200 & 849 --> image pixels
          // 371 & 262 --> canvas size (inspect)
          // let x = (data.x /1200) * 371;
          // let y = (data.y /849) * 262;

        //   ctx.arc(x, y, 15, 0, 2 * Math.PI, false);
        //   ctx.lineWidth = 2;
        //   ctx.strokeStyle = '#ff0000';
        //   ctx.stroke();
        // }, true);

      function openNav() {
        document.getElementById("mySidebar").style.width = "220px";
        document.getElementById("main").style.marginLeft = "220px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>
{#    <!-- {%endfor%} -->#}
</div>

   
</body>
</html> 