<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/demostyle.css') }}">
</head>

<body>

<div class="center">
  <div class="container">
    <canvas id='painting_canvas'></canvas>
    <img id="painting_image" src="{{ url_for('static',filename='/image1.png') }}" alt="Transformed View" class="image-trans">
    <div class="overlay">
      <div class="text"> 
        <p id = "ID"></p>
        <p id = "mapped_x"></p>
        <p id = "mapped_y"></p>
      </div>
    </div>
  </div>
</div> 

<script>
var eventSources = [];
var camera_ids = {{ camera_ids }};

for (var i = 0; i < camera_ids; i++) {

  var eventSource = new EventSource("/mapped_gaze_feed/" + i);
  
  eventSource.addEventListener("mapped_gaze", function(e) {
    var data = JSON.parse(e.data);
    var id = data.camera_id;

    document.querySelector("#ID").innerText = "ID: " + id;
    document.querySelector("#mapped_x").innerText = "mapped X: " + data.x;
    document.querySelector("#mapped_y").innerText = "mapped Y: " + data.y;

    var img = document.getElementById("painting_image");
    var cnvs = document.getElementById("painting_canvas");

    cnvs.style.position = "absolute";
    cnvs.style.left = img.offsetLeft + "px";
    cnvs.style.top = img.offsetTop + "px";
    cnvs.style.width = img.offsetWidth + "px";
    cnvs.style.height = img.offsetHeight + "px";

    var ctx = cnvs.getContext("2d");
    ctx.clearRect(0, 0, cnvs.width, cnvs.height);
    ctx.beginPath();

    var x = (data.x / 400) * 300;
    var y = (data.y / 300) * 150;

    ctx.arc(x, y, 20, 0, 2 * Math.PI, false);
    ctx.lineWidth = 3;
    ctx.strokeStyle = '#ff0000';
    ctx.stroke();
  }, true);

  eventSources.push(eventSource);
}
</script>

</body>
</html>
